<!DOCTYPE html>

<html>
    <body>
        <h1 style="color: blue">Welcome to ResourceShare!</h1>
            
        <h4>Total Resources:</h4>
        <p>{{cnt}} and counting...</p>
            
        <h4>Total Active Users:</h4>
        <p>{{users_cnt}} and counting...</p>
        <br/>
            
        <h2 style="color: blue">Resources per Category:</h2>
        <ol>
            {% for res_cat in res_per_cat %}
            <li>{{res_cat.cat_id__cat}}: {{res_cat.cnt}}</li>
            {% endfor %}
        </ol>
    </body>
</html>